<div class="category-item">
  <h4>Category</h4>
  <ul>
    {% for category in blog.Categories %}
    {% assign indent = category[0] | split: '/' | size | minus: 1 | times: 20 %}
    <li style="margin-left: {{indent}}px">
      <a href="/categories/{{category[0] | replace: '/', '-'}}/1.html">
        {{category[0] | split: '/' | last}} ({{category[1]}})
      </a>
    </li>
    {% endfor %}
  </ul>
  <h4>Archives</h4>
  <ul>
    {% for a in blog.Archives %}<li><a href="/{{a}}">{{a}}</a></li>{% endfor %}
  </ul>
</div>